.content {
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content h3 {
    margin: 10px;
}
.content > span {
    color: red;
}
.rememberMe {
    display: flex;
    justify-content: center;
}
